@font-face {font-family: "bubbles";src: url("bubbles.eot?mjltso");src: url("bubbles.eot?mjltso#iefix") format("embedded-opentype"),url("bubbles.ttf?mjltso") format("truetype"),url("bubbles.woff?mjltso") format("woff"),url("bubbles.svg?mjltso#bubbles") format("svg");font-weight: normal;font-style: normal;}
[class^="bubbles-"], [class*=" bubbles-"] {font-family: "bubbles" !important;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.bubbles-Home:before {content: "";}
.bubbles-Shop:before {content: "";}
.bubbles-Office:before {content: "";}
.bubbles-Bank:before {content: "";}
.bubbles-Tag:before {content: "";}
.bubbles-Tags:before {content: "";}
.bubbles-Wallet:before {content: "";}
.bubbles-Credit-Card:before {content: "";}
.bubbles-Handbag:before {content: "";}
.bubbles-Folder:before {content: "";}
.bubbles-Notebook:before {content: "";}
.bubbles-File:before {content: "";}
.bubbles-Clipboard:before {content: "";}
.bubbles-News:before {content: "";}
.bubbles-Pencil:before {content: "";}
.bubbles-Pen:before {content: "";}
.bubbles-Brush:before {content: "";}
.bubbles-Pictures-Day:before {content: "";}
.bubbles-Pictures-Night:before {content: "";}
.bubbles-Photos:before {content: "";}
.bubbles-Music:before {content: "";}
.bubbles-Music-Playlist:before {content: "";}
.bubbles-Videos:before {content: "";}
.bubbles-TV:before {content: "";}
.bubbles-Camera-Front:before {content: "";}
.bubbles-Camera-Back:before {content: "";}
.bubbles-Phone:before {content: "";}
.bubbles-Tablet:before {content: "";}
.bubbles-Mac:before {content: "";}
.bubbles-User:before {content: "";}
.bubbles-ID-Horizontal:before {content: "";}
.bubbles-ID-Vertical:before {content: "";}
.bubbles-Thumbs-Up:before {content: "";}
.bubbles-Thumbs-Down:before {content: "";}
.bubbles-Alarm-Clock:before {content: "";}
.bubbles-Watch:before {content: "";}
.bubbles-Stopwatch:before {content: "";}
.bubbles-Location-Pin:before {content: "";}
.bubbles-Heart:before {content: "";}
.bubbles-Cloud:before {content: "";}
.bubbles-Trophy:before {content: "";}
.bubbles-Badge:before {content: "";}
.bubbles-Bell:before {content: "";}
.bubbles-Share:before {content: "";}
.bubbles-Settings:before {content: "";}
.bubbles-Calendar:before {content: "";}
.bubbles-Explore:before {content: "";}
.bubbles-Dashboard:before {content: "";}